* {
	font-family: monospace;
}

top {
  display: block;
  margin-bottom: 30px;
  background-image: url(img/gnoia.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

nav {
  text-align: center;
  font-size: large;
  margin-bottom: 50px; 
}

content {
  display: block;
  min-height: 650px;
  margin: 0 2%;
}

bottom {
  margin-top: 50px;
  display: block;
  text-align: center;
}

div#freenode {
  text-align: center;
}
